.card {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .title {
    font-size: 1.5em;
    margin-bottom: 8px;
  }
  
  .director {
    font-size: 1.2em;
    color: #29c71b;
  }
  
  .releaseYear {
    font-size: 1em;
    color: #2416e6;
  }
  