.card {
    border: 1px solid #cccccc;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: indianred;
  }
  
  .courseName {
    font-size: 1.5em;
    margin-bottom: 8px;
    color: #e02323;
  }
  
  .instructor {
    font-size: 1.2em;
    color:darkblue;
  }
  
  .duration {
    font-size: 1em;
    color: aquamarine;
  }
  