.card {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
  }
  
  .courseName {
    font-size: 1.5em;
    margin-bottom: 8px;
    color: lightcoral;
  }
  
  .instructor {
    font-size: 1.2em;
    color:limegreen;
  }
  
  .duration {
    font-size: 1em;
    color: #666;
  }
  